.AppWrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  width: 500px;
  border: 1px solid #d4d3d3;
  background-color: #e8eaed;
}

button:hover {
  cursor: pointer;
}

.close-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(96, 103, 111,0.5);
  padding: 0;
  font-size: 1rem;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}